<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CI / CD PipeLine Training</title>

    <script src="<%= static_path + "/jquery/jquery-1.11.3.min.js" %>"></script>
</head>

  <body>
     <script src="<%= static_path + "/scripts/vars.js" %>"></script>
     <script src="<%= static_path + "/scripts/index.js" %>"></script>


	<h3>Hi there, CI/CD PipeLine World!</h3>
 </body>
</html>
